#!/usr/bin/env python3

# DB
DBFILE = "scores.db"

# PREFERENCES
DROPGAMES = 9

# EMAIL

EMAILSERVER = "smtp.server.com"
EMAILPORT = 587
EMAILUSER = "email@address.com"
EMAILFROM = "Seattle Mahjong <email@address.com>"
EMAILPASSWORD = ""
