#message {
	display:none;
}

#players {
	padding-top:2em;
}

#players > input, #submit {
	text-align:center;
	width:100%;
}

#players > * {
	width:100%;
	margin-top:0.25em;
}

#players > input.playerpoints {
	margin-bottom:1em;
}

#content > a {
	width:100%;
	display:block;
	text-align:center;
	background:white;
	color:black;
	border:none;
	padding:0.5em;
	margin-top:1em;
}
