body {
	text-align:center;
}

table {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	width:100%;
}

.date {
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
	padding-bottom:0;
	padding-top:0;
}
#currentpage {
	text-decoration:underline;
}

.game tr > *:nth-of-type(1) {
	width:2em;
}
.game tr > *:nth-of-type(2) {
	width:15em;
}
.game tr > *:nth-of-type(3) {
	width:5em;
}
.game tr > *:nth-of-type(4) {
	width:3em;
}
.game tr > *:nth-of-type(5) {
	width:2em;
}
