body {
	text-align:center;
}

table {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
}

.date {
	width:100%;
	background:white;
	color:black;
	margin-top:1em;
	margin-bottom:1em;
}
#currentpage {
	text-decoration:underline;
}

table {
	width:100%;
}

table > tbody > tr > td:nth-of-type(1) {
	width:2em;
}
table > tbody > tr > td:nth-of-type(2) {
	width:15em;
}
table > tbody > tr > td:nth-of-type(3) {
	width:5em;
}
table > tbody > tr > td:nth-of-type(4) {
	width:3em;
}
