body {
	text-align:center;
}

table {
	width:100%;
}

select {
	width:100%;
	text-align:center;
	margin-top:1em;
}

.leaderboard {
	margin-top:1em;
	clear:both;
}

.leaderboard > h2 {
        margin-bottom:0.5em;
}
#content_controls {
        height: 1.0em;
}
#period {
    	width:30%;
        float: left;
}
.min_game_control {
	font-size: medium;
	position: relative;
	bottom:  -0.5em;
	float: right;
}
.gamecount {
	width: 3em;
	position: relative;
	bottom:  -0.0em;
}
