body {
	background: #000;
	color: #FFF;
	font-family: arial, sans-serif;
	text-align: center;
}

#calculator {
	text-align: center;
	width: 100%;
	min-width: 150px;
	max-width: 450px;
	overflow: hidden;
	padding: 10px;
	margin: 0 auto;
}

#scores {
	display: inline-block;
	text-align: left;
}

.scores {
	font-size: 2em;
}

.input {
	text-align: center;
	margin: 5px;
	border-radius: 3px;
	width: 45%;
	min-width: 3em;
	max-width: 200px;
	float: left;
}

.value {
	text-align: center;
	font-size: 2em;
}

.clickable {
	text-align: center;
	font-size: 2em;
	display: inline-block;
	border: 1px solid;
	border-radius: 10px;
	padding: 3px;
	margin: 5px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 1em;
	border: 1px solid;
	width: 1em;
	height: 1em;
}

.label {
	display: inline-block;
	font-size: 2em;
	margin: 10px;
}

#title {
	font-size: 3em;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
