#scores {
	font-size: 1.5em;
	height:3.6em;
	line-height:1.2em;
	vertical-align:middle;
}

#content {
	padding-left:0;
	padding-right:0;
	overflow:hidden;
}

.input {
	display:inline-block;
	text-align: center;
	margin: 5px;
}

a:hover {
	text-decoration: none;
}

@media (min-width:275px) {
	.input {
		width: 45%;
	}
}

@media (max-width:275px) {
	.input {
		width:100%;
	}
}

.value {
	text-align: center;
	font-size: 1.5em;
}

.clickable {
	box-sizing:content-box;
	font-size: 1.5em;
	display: inline-block;
	border-radius: 10px;
	padding: 3px;
	margin: 5px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 1em;
	width: 1em;
	height: 1em;
	background:white;
	color:black;
}

.label {
	font-size: 1.5em;
	margin-bottom: 10px;
}
