#personselector {
	margin-right:2%;
}
#people {
	margin-bottom:1em;
}
#key {
	padding:0.3em;
	margin:0.3em;
	border:1px solid white;
}
#key > .player {
	width:45%;
}
.player {
	display:inline-block;
	text-align:center;
	height:2em;
	line-height:2em;
	vertical-align:middle;
	margin-bottom:0.2em;
}
.player > .deletebutton {
	position:relative;
	float:right;
	height:100%;
	width:2em;
	background:white;
	color:black;
}
.player > input.priority[type="checkbox"] {
	display:none;
}
.player > input.priority[type="checkbox"] + label {
	display:inlne-block;
	height:100%;
	float:left;
	width:2em;
	margin-left:0.5em;
	height:100%;
	width:2em;
	background:black;
	border:5px solid white;
}
.player > input.priority[type="checkbox"]:checked + label {
	background:grey;
}
.table{
	display:inline-block;
	padding:0.5em;
}
.table > h3 {
	background:white;
	color:black;
}
.table > div {
	text-align:center;
	height:1.5em;
	line-height:1.5em;
	padding-left:0.2em;
	padding-right:0.2em;
	white-space:nowrap;
	vertical-align:middle;
	border-bottom:1px solid white;
	border-left: 1px solid white;
	border-right:1px solid white;
}
.table > div > .windicator {
	float:left;
}
@media (min-width:600px) {
	#tables > div {
		width:50%;
	}
	.player {
		width:50%;
	}
}
@media (max-width:600px) {
	#tables > div {
		width:100%;
	}
	.player {
		width:100%;
	}
}
