#personselector {
	margin-right:2%;
}
#people {
	margin-bottom:1em;
}
#key {
	padding:0.3em;
	margin:0.3em;
	border:3px solid white;
}
#key > .player {
	width:45%;
	margin:0;
}
.player {
	display:inline-block;
	text-align:center;
	min-height:2em;
	line-height:2em;
	vertical-align:middle;
	margin-bottom:0.2em;
	width:49.5%;
}
.deletebutton {
	position:relative;
	float:right;
	height:100%;
	width:2em;
}
input.priority[type="checkbox"] {
	display:none;
}
input.priority[type="checkbox"] + label {
	display:inline-block;
	height:2em;
	width:2em;
	float:left;
	margin-left:0.5em;
	border:5px solid white;
}
input.priority[type="checkbox"]:checked + label {
	background:grey;
}
@media (max-width:600px) {
	.player {
		width:100%;
	}
	#key > .player {
		vertical-align:top;
	}
	#key > .player > span {
		clear:both;
		display:block;
		line-height:1em;
	}
	#key > .player > label {
		float:none;
	}
	#key {
		padding:1em;
	}
}
