* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
html, body {
	font-size:16pt;
	font-family: Lato, sans-serif;
	background:black;
	color:white;
	text-align:center;
}

#navbar {
	height:30px;
	line-height:30px;
	vertical-align:middle;
	background:white;
}

#navbar > a {
	display:inline;
	height:100%;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:0.5em;
	color:black;
}

#content {
	width:96%;
	max-width:700px;
	position:relative;
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
}

h1 {
	margin:1em;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:inherit;
	cursor:pointer;
}

button, input, select {
	background:white;
	color:black;
	border:none;
	width:100%;
	height:2em;
	margin-bottom:0.5em;
}

input {
	padding-left:0.5em;
	padding-right:0.5em;
}

input::placeholder {
	color:grey;
}

button, input[type="submit"] {
	cursor:pointer;
}

button:hover, input[type="submit"]:hover, a:hover  {
	text-decoration:underline;
}

button[disabled] {
	color:darkgrey;
	text-decoration:none;
	cursor:not-allowed;
	background:grey;
}

table {
	border-collapse:collapse;
}

table th {
	background:white;
	color:black;
	border-right:1px solid white;
}

table td {
	border:1px solid white;
	background:#111;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-widget-content {
	background:white;
	color:black;
	border:none;
}

.ui-menu .ui-menu-item {
	background:white;
	color:black;
	border:none;
}

.ui-menu .ui-menu-item.ui-state-focus {
	background:#bbb;
	color:black;
	border:none;
}

button.clearplayercomplete {
	display: inline-block;
	position: absolute;
	width: 2em;
	height: 2em;
	right:0;
	margin: 0;
	line-height:2em;
	vertical-align:middle;
	background: none;
}

a.button {
	display:block;
	color:black;
	background:white;
	margin-bottom:0.5em;
	padding:1em;
}
