* {
	box-sizing:border-box;
	font-size:16pt;
	font-family: Lato, sans-serif;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
html, body {
	background:black;
	color:white;
}

body {
	text-align:center;
}

#navbar {
	height:30px;
	line-height:30px;
	vertical-align:middle;
	background:white;
}
#navbar > a {
	display:inline;
	height:100%;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:0.5em;
	color:black;
}
#content {
	width:100%;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
}

h1 {
	font-size:2em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size:1.25em;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:inherit;
	cursor:pointer;
}

button, input, select {
	background:white;
	color:black;
	border:none;
	padding:0.5em;
	width:100%;
	margin-top:0.25em;
	margin-bottom:0.25em;
}

button {
	cursor:pointer;
}

button[disabled] {
	display:none;
}

button:hover, a:hover  {
	text-decoration:underline;
}

table {
	border-collapse:collapse;
}

table th {
	background:white;
	color:black;
	border-right:1px solid black;
}

table th:last-of-type {
	border-right:1px solid white;
}

table td {
	border:1px solid white;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-widget-content {
	background:white;
}

.ui-menu .ui-menu-item {
	background:white;
	color:black;
	border:none;
}

.ui-menu .ui-menu-item.ui-state-focus {
	background:#ddd;
	color:black;
	border:none;
}

button.clearplayercomplete {
	display: inline-block;
	position: absolute;
	width: 2em;
	height: 2em;
	right: 1em;
	background: none;
	margin-right: 0;
}
