* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
html, body {
	font-size:16pt;
	font-family: Lato, sans-serif;
	text-align:center;
}

#navbar {
	height:30px;
	line-height:30px;
	vertical-align:middle;
}

#navbar > a {
	display:inline;
	height:100%;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:0.5em;
}

#navbar > a.userID {
	height:30px;
	line-height:30px;
	position:absolute;
	right:0;
	top:0;
	vertical-align:middle;
}

#content {
	width:96%;
	max-width:700px;
	position:relative;
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
}

h1 {
	margin:1em;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:inherit;
	cursor:pointer;
}

button, input, select, .clickable  {
	border:none;
	width:100%;
	height:2em;
	margin-bottom:0.5em;
}

input {
	padding-left:0.5em;
	padding-right:0.5em;
}

button, input[type="submit"], .control {
	cursor:pointer;
}

button:hover, input[type="submit"]:hover, a:hover, .control:hover  {
	text-decoration:underline;
}

button[disabled] {
	text-decoration:none;
	cursor:not-allowed;
}

table {
	border-collapse:collapse;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content .ui-state-hover, .ui-datepicker td,
.ui-widget-content .ui-state-default {
	border:none;
}
.ui-widget-header.ui-datepicker-header {
	border-radius:0;
}

.ui-widget-content .ui-state-disabled {
	opacity:1;
}

.ui-widget-content.ui-datepicker {
	padding:0;
}

button.clearplayercomplete {
	display: inline-block;
	position: absolute;
	width: 2em;
	height: 2em;
	right:0;
	margin: 0;
	margin-top:4px;
	background:none;
}

.button {
	display:block;
	margin-bottom:0.5em;
	padding:1em;
}

input[type="checkbox"] {
	display:inline-block;
	height:1.5em;
	width:1.5em;
	margin-left:0.5em;
	border:2px solid white;
}
input[type="checkbox"]:checked {
	background:grey;
}

#tables > .table{
	display:inline-block;
	padding:0.5em;
	width:49%;
}
.table > div {
	text-align:center;
	height:1.5em;
	line-height:1.5em;
	padding-left:0.2em;
	padding-right:0.2em;
	white-space:nowrap;
	vertical-align:middle;
}
.table > div > .windicator {
	float:left;
}
@media (max-width:600px) {
	#navbar {
		height:60px;
		padding-right:3em;
	}
	#navbar > a.userID {
		height:60px;
		line-height:60px;
		width:3em;
	}
	#tables > .table {
		width:100%;
	}
}

table.quarterParticipation {
	display: inline;
	width: auto;
}

table.quarterParticipation td {
	padding: 2px;
}

.helptext {
	font-weight:regular;
	font-size: 0.8em
}

.eligible td {
	font-style: italic;
}

.NoGames {
	text-decoration:line-through;
}
