html, body {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	font: 12px DejaVu Sans, Helvetica, Arial, Droid Sans, sans-serif;
	background:black;
	color:white;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:white;
	cursor:pointer;
}

button, input, select {
	background:white;
	color:black;
	border-radius:5px;
	cursor:pointer;
}

button, input, input {
	border:none;
	padding:0.5em;
}

button[disabled] {
	display:none;
}

button:hover {
	text-decoration:underline;
}

a:hover {
	text-decoration:underline;
}
