#controls {
	margin-bottom:1em;
}

#controls > button, .timer {
	width:49.5%;
}
.timer {
	display:inline-block;
	margin-bottom:0.5em;
}
.timer > button {
	margin-bottom:0;
	width:49%;
}
.timer > h3 {
	min-height:1em;
}

@media (max-width:600px) {
	.timer, #controls > button {
		width:100%;
	}
}
