{% extends "template.html" %}

{% block title %} - Reset User Password{% endblock %}

{% block content %}
	<h1 id="page-title">Reset User Password</h1>

	{% if message %}
		<div id="message">{{ message }}</div>
	{% endif %}

	<p>Reset password for {{ email }}</p>
	<form action="/reset/{{ id }}" method="post">
		<input id="password-field" name="password" placeholder="PASSWORD" type="password" /><br/>

		<input id="vpassword-field" name="vpassword" placeholder="REPEAT PASSWORD" type="password" /><br/>

		<input type="submit" value="Reset"/>
	</form>
{% endblock %}
