{% extends "template.html" %}
{% block title %} - Add Game{% end %}
{% block head %}
		<link href="{{ static_url("css/addgame.css") }}" type="text/css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js" type="text/javascript"></script>
		<script src="{{ static_url("js/gameeditor.js") }}"></script>
		<script src="{{ static_url("js/addgame.js") }}"></script>
{% end %}
{% block content %}
	<h3 id="message">Total: 0</h3>
	<p class="player5help">When scores total more than 100,000,
	  a fifth player position will be added.</p>
	<p class="player4help">When scores total exactly 100,000,
	  the fifth player position will be removed.</p>
	<div id="players">
	</div>
	{% if unusedPointsIncrement > 0 %}
	<input id="unusedPoints" type="number"
	       step="{{ unusedPointsIncrement }}" min="0"
	       placeholder="UNUSED POINTS">
	</input>
	{% end %}
	<button id="submit" disabled>Add</button>
	<div id="tables"></div>
	<button id="seating">Fetch Seater Players</button>
{% end %}
