{% extends "template.html" %}
{% block title %} - Add Game{% end %}
{% block head %}
		<link href="{{ static_url("css/addgame.css") }}" type="text/css" rel="stylesheet" />

		<script src="{{ static_url("js/addgame.js") }}"></script>
{% end %}
{% block content %}
	<h3 id="message"></h3>
	<div id="players">
		<select class="playerselect"></select>
		<input type="text" placeholder="Score" class="playerpoints"></input><br />
		<select class="playerselect"></select>
		<input type="text" placeholder="Score" class="playerpoints"></input><br />
		<select class="playerselect"></select>
		<input type="text" placeholder="Score" class="playerpoints"></input><br />
		<select class="playerselect"></select>
		<input type="text" placeholder="Score" class="playerpoints"></input><br />
	</div>
	<button id="submit" disabled>Add</button>
{% end %}
