{% extends "template.html" %}

{% block title %} - Edit Quarter Settings{% end %}

{% block content %}
	<h1 id="page-title">Edit Quarter Settings</h1>

	<form action="/admin/addquarter" method="post" id="quarterform">
		<select name="quarter" form="quarterform">
			{% for quarter in quarters %}
				<option value="{{ quarter }}">{{ quarter }}</option>
			{% end %}
		</select>
		<input type="number" value="{{ dropgames }}" name="gamecount" required />
		<input type="submit" value="Update"/>
	</form>
{% end %}
