{% extends "template.html" %}

{% block title %} - Delete Game{% end %}

{% block head %}
		<link href="{{ static_url("css/history.css") }}" type="text/css" rel="stylesheet" />
{% end %}

{% block content %}
	<h1 id="page-title">Delete Game</h1>

	<p>Are you sure you want to delete Game #{{ id }}?</p>
		<table class="game">
	<table class="game">
		<thead>
			<th>Rank</th>
			<th>Name</th>
			<th>Raw Score</th>
			<th>Score</th>
			<th>Chombos</th>
		</thead>
		<tbody>
			{% for score in game %}
				<tr>
					<td>{{ score['Rank'] }}</td>
					<td><a href="/playerstats/{{ score['Name'] }}">{{ score ['Name'] }}</a></td>
					<td>{{ score['RawScore'] }}</td>
					<td>{{ score['Score'] }}</td>
					<td>{{ score['Chombos'] }}</td>
				</tr>
			{% end %}
		</tbody>
	</table>
	<form action="/admin/delete/{{ id }}" method="post">
		<input type="submit" value="Delete"/>
	</form>
{% end %}
