{% extends "template.html" %}

{% block title %} - Edit Quarter Settings{% end %}

{% block content %}
	<h1 id="page-title">Edit Quarter Settings</h1>

	{% for quarter in quarters %}
	<form action="/admin/editquarter/{{ quarter[0] }}" method="post">
	        {{ quarter[0] }}
		<table width="100%">
		  <tbody>
		    <tr><td>Game count</td>
		      <td><input type="number" value="{{ quarter[1] }}" 
				 name="gamecount" required 
				 min="1" step="1"/></td>
		    </tr>
		    <tr><td>Unused point increment</td>
		      <td><input type="number" value="{{ quarter[2] }}" 
				 name="unusedPointsIncrement" required 
				 min="0" max="10000" step="100"/></td>
		    </tr>
		  </tbody>
		</table>
		 
		<input type="submit" value="Update"/>
	</form>
	{% end %}
{% end %}
