{% extends "template.html" %}
{% block title %} - Edit Game{% end %}
{% block head %}
		<link href="{{ static_url("css/addgame.css") }}" type="text/css" rel="stylesheet" />
		<script {% if settings.DEVELOPERMODE %}
			src="{{ static_url ("js/mustache.min.js") }}"
			{% else %}
			src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"
			{% end %} type="text/javascript"></script>
		<script type="text/javascript">
			window.scores = JSON.parse('{% raw scores %}');
			window.gameid = {{ id }};
		</script>
		<script src="{{ static_url("js/gameeditor.js") }}"></script>
		<script src="{{ static_url("js/editgame.js") }}"></script>
{% end %}
{% block content %}
	<h1 id="page-title">Editing Game #{{ id }}</h1>

	<h3 id="message"></h3>
	<br />
	<input type="text" id="gamedate"></input>
	<div id="players">
	</div>
	<input id="unusedPoints" type="number"
	       step="{{ unusedPointsIncrement }}" min="0"
	       {% if unusedPointsIncrement == 0 %}disabled{% end %}
	       {% if unusedPoints %}
	       value="{{ unusedPoints }}"
	       {% end %}
	       placeholder="UNUSED POINTS">
	</input>
	<button id="submit" disabled>Edit</button>
	<p>Scores must total <span class="gametotal">?</span> to be
	  updated</p>
{% end %}
