{% extends "template.html" %}

{% block title %} - Edit Quarter Settings{% end %}

{% block content %}
	<h1 id="page-title">Edit Quarter Settings</h1>

	{% for qtr in quarters %}
	<form action="/admin/editquarter/{{ qtr['Quarter'] }}" method="post">
	        {{ qtr['Quarter'] }}
		<table width="100%">
		  <tbody>
		    <tr><td>Drop Game Count</td>
		      <td><input type="number" value="{{ qtr['GameCount'] }}" 
				 name="gameCount" required 
				 min="1" step="1"/></td>
		    </tr>
		    <tr><td>Unused Points Increment</td>
		      <td><input type="number" value="{{ qtr['UnusedPointsIncrement'] }}" 
				 name="unusedPointsIncrement" required 
				 min="0" max="10000" step="100"/></td>
		    </tr>
		    <tr><td>Qualifying Games</td>
		      <td><input type="number" value="{{ qtr['QualifyingGames'] }}" 
				 name="qualifyingGames" required 
				 min="1" max="50" step="1"/></td>
		    </tr>
		    <tr><td>Qualifying Distinct Dates</td>
		      <td><input type="number" value="{{ qtr['QualifyingDistinctDates'] }}" 
				 name="qualifyingDistinctDates" required 
				 min="1" max="20" step="1"/></td>
		    </tr>
		  </tbody>
		</table>
		 
		<input type="submit" value="Update"/>
	</form>
	{% end %}
{% end %}
