{% extends "template.html" %}
{% block title %} - Edit Game{% end %}
{% block head %}
		<link href="{{ static_url("css/addgame.css") }}" type="text/css" rel="stylesheet" />
		<script src="{{ static_url("js/gameeditor.js") }}"></script>
		<script src="{{ static_url("js/editgame.js") }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			window.populatedEditor = function () {
				var scores = JSON.parse('{% raw scores %}');
				window.gameid = {{ id }};
				$("#gamedate").datepicker();
				$("#gamedate").datepicker("option", "dateFormat", "yy-mm-dd")
				$("#gamedate").val(scores[0][4]);
				if(scores.length === 5)
					addPlayers();
				var players = $("#players .player");
				for(var i = 0; i < scores.length; ++i) {
					var player = $(players[i]);
					var playerpoints = player.children(".playerpoints");
					player.children(".playercomplete").val(scores[i][1]);
					playerpoints.val(scores[i][2]);
					player.children(".chombos").val(scores[i][3]);
					playerpoints.keyup();
				}
			};
		</script>
{% end %}
{% block content %}
	<h1 id="page-title">Editing Game #{{ id }}</h1>

	<h3 id="message"></h3>
	<br />
	<input type="text" id="gamedate"></input>
	<div id="players">
	</div>
	<button id="submit" disabled>Edit</button>
{% end %}
