{% extends "template.html" %}
{% block title %} - Game History{% end %}
{% block head %}
		<link href="{{ static_url("css/history.css") }}" type="text/css" rel="stylesheet" />
{% end %}
{% block content %}
	<p>Click any player to see his or her stats</p>
	{% set lastdate = None %}
	{% for game in games %}
		{% if lastdate != game['date'] %}
			<h3 class="date">{{ game['date'] }}</h3>
			{% set lastdate = game['date'] %}
		{% end %}
	<table class="game">
		<tbody>
			{% for score in game['scores'].items() %}
			<tr>
				<td>{{ score [0] }}</td>
				<td><a href="/playerstats/{{ score [1][0] }}">{{ score [1][0] }}</a></td>
				<td>{{ score[1][1] }}</td>
				<td>{{ score[1][2] }}</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	{% end %}
	{% if prev is not None %}
		<a href="/history/{{ prev }}">«</a>
	{% end %}
	{% for page in pages %}
		{% if curpage == page %}
			<span id="currentpage">{{ page }}</span>
		{% else %}
			<a href="/history/{{ page }}">{{ page }}</a>
		{% end %}
	{% end %}
	{% if nex is not None %}
		<a href="/history/{{ nex }}">»</a>
	{% end %}
{% end %}
