<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable=no" />
		<link href="{{ static_url("css/style.css") }}" type="text/css" rel="stylesheet" />
		<link href="{{ static_url("css/index.css") }}" type="text/css" rel="stylesheet" />
		<link rel="icon" type="image/png" href="{{ static_url("images/favicon.png") }}" />
		<title>Mahjong Site</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

		<script src="{{ static_url("js/script.js") }}"></script>
	</head>
	<body>
		<h1>Mahjong Stuff</h1>
		<a href="/leaderboard">Leaderboard</a><br />
		<a href="/seating">Mahjong Seater</a><br />
		<a href="/pointcalculator">Point Calculator</a>
	</body>
</html>
