{% extends "template.html" %}
{% block content %}
	{% if no_user %}
		<p>It appears you've no users. Would you like to create one?</p>
		<a class="button" href="/setup">SETUP</a>
	{% end %}
	<h1>Seattle Mahjong</h1>
	{% if current_user %}
		<a class="button" href="/addgame">ADD GAME</a>
	{% end %}
	<a class="button" href="/leaderboard">LEADERBOARD</a>
	<a class="button" href="/history">GAME HISTORY</a>
	<a class="button" href="/seating">SEATER</a>
	<a class="button" href="/pointcalculator">POINT CALCULATOR</a>
{% end %}
