{% extends "template.html" %}

{% block title %} - Leaderboard{% end %}

{% block head %}
	<link href="{{ static_url("css/leaderboard.css") }}" type="text/css" rel="stylesheet" />
	<script src="{{ static_url("js/leaderboard.js") }}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js" type="text/javascript"></script>
{% end %}

{% block content %}
	<p>Click any player to see his or her stats</p>
	<select id="period">
		<option value="annual" selected="seleceted">ANNUAL</option>
		<option value="biannual">BI-ANNUAL</option>
		<option value="quarter">QUARTER</option>
	</select>
	<div id="leaderboards">
	</div>
	<script id="leaderboard" type="x-tmpl-mustache">
	</script>
{% end %}
