{% extends "template.html" %}

{% block title %} - Leaderboard{% end %}

{% block head %}
	<link href="{{ static_url("css/leaderboard.css") }}" type="text/css" rel="stylesheet" />
	<script src="{{ static_url("js/leaderboard.js") }}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js" type="text/javascript"></script>
{% end %}

{% block content %}
        <p>Click any player to see their stats. 
	  <a href="#legend">Legend at bottom.</a>
	</p>
	<div id="content_controls">
	  <select id="period">
		<option value="quarter" selected="selected">QUARTER</option>
		<option value="biannual">BI-ANNUAL</option>
		<option value="annual">ANNUAL</option>
	  </select>
	  <span class="min_game_control">Minimum # of games
	    <input id="min_games" class="gamecount"
		   type="number" min="1" max="13" step="1" placeholder="GAMES">
            </input>
	  </span>
	</div>
	<div id="leaderboards">
		Retrieving leaderboard...
	</div>
	<div id="legend" class="quarter_help helptext">
	  <p>&nbsp;</p>
	  <p>
	    (+<i>N</i>) indicates lowest <i>N</i> games dropped from average.
	  </p>
	  <p> * Indicates membership for that quarter.</p>
	  <table>
	    <tbody>
	      <tr class="eligible">
		<td> Indicates eligibility for end of quarter tournament based
		   on game count or dates played.
		</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<script id="leaderboard" type="x-tmpl-mustache">
	</script>
{% end %}
