{% extends "template.html" %}
{% block title %} - Leaderboard{% end %}
{% block head %}
	<link href="{{ static_url("css/leaderboard.css") }}" type="text/css" rel="stylesheet" />
{% end %}
{% block content %}
	<p>Click any player to see his or her stats</p>
	{% for leadername, leaderboard in leaderboards %}
		<div class="leaderboard">
			<h2>LEADERBOARD {{ leadername }}</h2>
			<table>
				<tr>
					<th>PLACE</th>
					<th>NAME</th>
					<th>AVG SCORE</th>
					<th>GAME COUNT</th>
				</tr>
				{% for person in leaderboard %}
					<tr>
						<td>{{ person[0] }}</td>
						<td><a href="/playerstats/{{ person[1] }}">{{ person[1] }}</a></td>
						<td>{{ person[2] }}</td>
						<td>{{ person[3] }}</td>
					</tr>
				{% end %}
			</table>
		</div>
	{% end %}
{% end %}
