{% extends "template.html" %}

{% block title %}{% try %}{% if title %} - {{ title }}{% end %}{% except %}{% end %}{% end %}

{% block content %}
	{% try %}
		{% if title %}
			<h1 id="page-title">{{ title }}</h1>
		{% end %}
	{% except %}{% end %}
	{% try %}
		{% if message %}
			<div id="message">{% raw message %}</div>
		{% end %}
	{% except %}{% end %}
	{% try %}
		{% if next %}
			<form method="get" id="next" action="{{ next_url }}">
			  <button type="submit"> {% raw next %} </button>
			</form>
		{% end %}
	{% except %}{% end %}
{% end %}
