{% extends "template.html" %}

{% block title %} - Players{% end %}

{% block head %}
<script src="{{ static_url("js/players.js") }}"></script>
<link href="{{ static_url("css/players.css") }}" type="text/css" rel="stylesheet" />

{% end %}

{% block content %}
  <p id="message">
    {% try %}
      {% if message %}{{ message }}{% end %}
    {% except %}{% end %}</p>

  <h1>Players</h1>
  {% if is_admin %}
    <p>Click on game count to see player statistics.</p>
  {% else %}
    <p>Click on player name for overall or game count for per quarter player statistics.</p>
  {% end %}
  <br>
  <table class="players">
    <tbody>
      <tr>
	<th><input type=text value="" placeholder="Name filter" 
		   class="namefilter"/>
	</th>
	<th>
	  <table id="visible_quarters_control" class="checkbox_list">
	    <tbody>
	      {% for qtr_i in range(len(quarters) - 1, -1, -1) %}
	        <tr>
		  <td>
		    <label data-quarter="{{ quarters[qtr_i] }}">
		      <input type="checkbox" class="visibleQtrFlag"
			     id="Qtr-{{ quarters[qtr_i] }}-visible"
			     data-quarter="{{ quarters[qtr_i] }}"
			     {% if quarters[qtr_i] in visibleQtrs %}checked{% end %} /> 
		      {{ quarters[qtr_i] }}
		    </label> 
		  </td>
		</tr>
	      {% end %}
	    </tbody>
	  </table>
	</th>
	<th colspan={{ len(quarters) }} id="visible_quarters_label" 
	    class="control">
	  Game Counts & Membership by Quarter
	</th>
      </tr>
      <tr>
	<th>Name</th>
	<th>Meetup Name</th>
	{% for qtr in quarters %}
	<th data-quarter="{{ qtr }}">{{ qtr }}
	  <span class="totalmembers" data-quarter="{{ qtr }}">...
	  </span>
	</th>
	{% end %}
      </tr>
      {% for playerId, player in players.items() %}
        <tr data-playerId="{{ playerId }}">
	  <td>
	    {% if is_admin %}
	      <input type=text value="{{ player['Name'] }}" class="playerName"
		     data-columnName="Name" />
	    {% else %}
	      <a href="/playerstats/{{ player['Name'] }}">
		{{ player['Name'] }}</a>
	    {% end %}
	  </td>
	  <td>
	    {% if is_admin %}
            <input type=text data-columnName="MeetupName"
		   {% if player['MeetupName'] %}
                     value="{{ player['MeetupName'] }}"
		   {% end %}
		   placeholder="Name on Meetup (optional)"/>
	    {% else %}
	      {% if player['MeetupName'] %}
                {{ player['MeetupName'] }}
	      {% end %}
	    {% end %}
	  </td>
	  {% for qtr in quarters %}
	    <td data-quarter="{{ qtr }}">
	      <a href="/playerstats/{{ player['Name'] }}/{{ qtr }}">
		{{ player['GameCounts'].get(qtr, '') }}
	      </a>
	      <input type="checkbox" class="membershipFlag"
		     id="Qtr-{{ qtr }}-visible"
		     data-quarter="{{ qtr }}"
		     {% if qtr in player['Memberships'] %}checked{% end %}
		     {% if not is_admin %} disabled {% end %}
		     />
	    </td>
          {% end %}
	</tr>
      {% end %}
    </tbody>
  </table>
{% end %}
