{% extends "template.html" %}

{% block title %} - Quarter Settings{% end %}

{% block head %}
<style type="text/css">
table {
	width:100%;
	margin-top:1em;
}
</style>
{% end %}

{% block content %}
	<h1>Quarter Settings</h1>
	<p id="message">
	  {% try %}
	     {% if message %}{{ message }}{% end %}
	  {% except %}{% end %}</p>
	<table class="quarters">
		<tbody>
			<tr>
				<th>Quarter</th>
				<th>Game count</th>
				<th>Unused points increment</th>
				<th>Actions</th>
			</tr>
			{% try %}
				{% for quarter in quarters%}
					<tr>
						<td>{{ quarter[0] }}</td>
						<td>{{ quarter[1] }}</td>
						<td>{{ quarter[2] }}</td>
						<td>
						  {% if quarter[1] %}
						  <a href="/admin/deletequarter/{{ quarter[0] }}">Delete</a> &nbsp;&nbsp;
						  {% end %}
						  <a href="/admin/editquarter/{{ quarter[0] }}">Edit</a>
						</td>
					</tr>
				{% end %}
			{% except %}
			{% end %}
		</tbody>
	</table>
{% end %}
