{% extends "template.html" %}
{% block title %} - Seater{% end %}
{% block head %}
		<link href="{{ static_url("css/seating.css") }}" type="text/css" rel="stylesheet" />
		<script src="{{ static_url("js/seating.js") }}"></script>
{% end %}
{% block content %}
	<input id="person" type="text" class="playercomplete" placeholder="PLAYER"></input>
	<button id="addperson">ADD</button>
	<button id="clearplayers">CLEAR</button>


	<div id="people">
	</div>
	<button id="regentables">RESHUFFLE TABLES</button>
	<div id="tables">
	</div>
{% end %}
