{% extends "template.html" %}
{% block title %} - Seater{% end %}
{% block head %}
		<link href="{{ static_url("css/seating.css") }}" type="text/css" rel="stylesheet" />
		<script {% if settings.DEVELOPERMODE %}
			src="{{ static_url ("js/mustache.min.js") }}"
			{% else %}
			src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"
			{% end %} type="text/javascript"></script>
		<script src="{{ static_url("js/script.js") }}"></script>
		<script src="{{ static_url("js/seating.js") }}"></script>
{% end %}
{% block content %}
	{% if current_user %}
		<div class="seater-controls">
		  <input id="person" type="text" class="playercomplete" 
			 placeholder="PLAYER"></input>
		  <button id="addperson">ADD</button>
		  <span>
		    {% if meetup_ok %}
		    <button id="meetup" class="addRSVPs">
		      ADD RSVPS FOR {{ today.upper() }} OR NEXT MEETUP
		    </button>
		    {% end %}
		  </span>
		  <button id="clearplayers">CLEAR ALL</button>
		</div>
		<div id="key">
			<div class="player">
				<button class="player-status player-status-2"><b>+</b></button>
				<span class="player-name"> Unseated </span>
			</div>
			<div class="player">
				<button class="player-status player-status-1"></button>
				<span class="player-name"> Prioritize 4p </span>
			</div>
			<div class="player">
				<button class="player-status player-status-0"></button>
				<span class="player-name"> Deprioritize </span>
			</div>
		</div>
		<div id="people">
		</div>
		<button id="regentables">RESHUFFLE TABLES</button>
	{% end %}
	<div id="tables">
	</div>
	<input id="auto-refresh-seating" type="checkbox" checked />
	<label for="auto-refresh-seating">Auto-refresh tables</label>
{% end %}
