upstream {{ app_name }} {
    server unix:/tmp/{{ app_name }}.sock;
}

server {
    listen       80;
    listen       [::]:80;
		listen 443 ssl;
		listen [::]:443 ssl;
    server_name  {{ inventory_hostname }} www.{{ inventory_hostname }};
    root         {{ nginx_dir }}/{{ app_name }};

		include tornado_params;

    access_log  /var/log/nginx/{{ app_name }}.access.log;

    location ~ ^/static {
        try_files $uri @tornado;
    }

    location ~ ^/favicon\.ico$ {
        try_files $uri /static$uri /static/images$uri @tornado;
    }

		location ~ /.well-known {
				try_files $uri/ /static$uri @tornado;
				allow all;
		}

    location @tornado {
        proxy_pass http://{{ app_name }};
    }

    location / {
        proxy_pass http://{{ app_name }};
    }
		ssl_certificate /etc/letsencript/live/{{ inventory_hostname }}/fullchain.pem;
		ssl_certificate_key /etc/letsencript/live/{{ inventory_hostname }}/privkey.pem;
}
