html, body {
	background:#e5efe5;
	color:#363;
}

button, input, select, .button, .clickable,
#navbar, #navbar > a, table th, .table > h3, .timer > h3,
.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content.ui-datepicker {
	background:#363;
	color:#dfd;
}

input::placeholder {
	color:#595;
}

button[disabled] {
	color:#595;
	background:#474;
}

table th {
	border-right:1px solid #141;
}

.table > div, .timer {
	border-bottom:1px solid #363;
	border-left: 1px solid #363;
	border-right:1px solid #363;
}
table td {
	border:1px solid #141;
	background:#aca;
}

.ui-widget-content .ui-state-default {
	background: #8a8;
	color: #363;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-active {
	background: #efe;
	color: #363;
}
.ui-widget-content .ui-state-highlight {
	background: #585;
	color: #aca;
}
.ui-widget-header .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ffffff_256x240.png);
}
.ui-widget-header .ui-state-hover .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_222222_256x240.png);
}
.ui-menu .ui-menu-item.ui-state-focus {
	background:#474;
}

#key {
	border:3px solid #363;
}

input[type="checkbox"].priority + label {
	border: 5px solid #363;
}
input[type="checkbox"].priority:checked + label {
	background:#474;
}
