html, body {
	background:#e5efe5;
	color:#363;
}

button, input, select, .button, .clickable, .emoji-wysiwyg-editor,
#navbar, #navbar > a, table th, .table > h3, .timer > h3,
.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content.ui-datepicker {
	background:#363;
	color:#dfd;
}

input::placeholder {
	color:#595;
}

button[disabled] {
	color:#595;
	background:#474;
}

table th {
	border-right:1px solid #141;
}

.table > div, .timer {
	border-bottom:1px solid #363;
	border-left: 1px solid #363;
	border-right:1px solid #363;
}
table td {
	border:1px solid #141;
	background:#aca;
}

.ui-widget-content .ui-state-default {
	background: #8a8;
	color: #363;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-active {
	background: #efe;
	color: #363;
}
.ui-widget-content .ui-state-highlight {
	background: #585;
	color: #aca;
}
.ui-widget-header .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ffffff_256x240.png);
}
.ui-widget-header .ui-state-hover .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_222222_256x240.png);
}
.ui-menu .ui-menu-item.ui-state-focus {
	background:#474;
}

#key {
	border:3px solid #363;
}

.player-status {
	border: 5px solid #363;
}
.player-status-0 {
	background: #474;
}
.player-status-2 {
	border: none;
	color: #363;
}

.bad {
    background: #633;
    color:      #faa;
}

.good {
    background: #363;
    color:      #dfd;
}

.eligible td {
    background: #d0f0e0;
}

.rankpielegend {
    margin-top: 0;
}

/* Player stats pie chart and corresponding legend colors:
   rank_1_path is the pie slice for rank 1
   rank_1_label is the legend label for rank 1
   rank_label is the class for all legend rank labels
   .rankpiechart > text are the text elemetns in the pie slice showing
     the count of how many times that rank occurred in the time period
   Note the color of the text in the legend is specified by 'color' since
   it's a table while the color of the count inside the pie slice is
   specified by 'fill' since it is a text element inside a svg.
*/
.rankpiechart > text {
    fill:       #e5efe5;
}

.rank_label {
    color:      #e5efe5;
}

.rank_1_path, .rank_1_label {
    fill:       #44a;
    background: #44a;
}

.rank_2_path, .rank_2_label {
    fill:       #a44;
    background: #a44;
}

.rank_3_path, .rank_3_label {
    fill:       #4a4;
    background: #4a4;
}

.rank_4_path, .rank_4_label {
    fill:       #a4a;
    background: #a4a;
}

.rank_5_path, .rank_5_label {
    fill:       #aa4;
    background: #aa4;
}
