html, body {
	background:black;
	color:white;
}

button, input, select, .button, .clickable,
#navbar, #navbar > a, table th, .table > h3,
.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content.ui-datepicker {
	background:white;
	color:black;
}

.ui-datepicker.ui-widget-content, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-hover  {
	background:black;
	color:white;
}

input::placeholder {
	color:grey;
}

button[disabled] {
	color:darkgrey;
	background:grey;
}

table th {
	border-right:1px solid white;
}

table td {
	border:1px solid white;
	background:black;
}

.ui-widget-content.ui-datepicker {
	border:2px solid white;
}

.ui-widget-header .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-state-hover .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ffffff_256x240.png);
}

.ui-menu .ui-menu-item.ui-state-focus {
	background:#bbb;
	color:black;
}
.ui-widget-content .ui-state-highlight {
	background: #666;
	color: #eee;
}
