html, body {
	background:#111;
	color:#eee;
}

button, input, select, .button, .clickable,
#navbar, #navbar > a, table th, .table > h3,
.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content.ui-datepicker {
	background:#444;
	color:#ddd;
}

input::placeholder {
	color:#777;
}

button[disabled] {
	color:#555;
	background:#222;
}

table th {
	border-right:1px solid #444;
}

.table > div {
	border-bottom:1px solid #555;
	border-left: 1px solid #555;
	border-right:1px solid #555;
}
table td {
	border:1px solid #555;
	background:#222;
}

.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content .ui-state-hover, .ui-widget-content.ui-datepicker  {
	border:none;
}
.ui-widget-content .ui-state-default {
	background: #444;
	color: #eee;
	border: 1px solid #555;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-active {
	background: #eee;
	color: #444;
}
.ui-widget-content .ui-state-highlight {
	background: #666;
	color: #eee;
}
.ui-widget-header .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ffffff_256x240.png);
}
.ui-widget-header .ui-state-hover .ui-icon {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_222222_256x240.png);
}
.ui-menu .ui-menu-item.ui-state-focus {
	background:#666;
}

#key {
	border:3px solid #555;
}

input[type="checkbox"].priority + label {
	border: 5px solid #555;
}
input[type="checkbox"].priority:checked + label {
	background:#666;
}
